body {
	background: #fefefe;
}
h1 {
	color: darkgreen;
}

h2 {
	color: #1460aa;
	background: #bed4eb;
}

section {
	background: #fefefeee;
}

.czerwony {
	color: red;
}

#szkolenie {
	background: yellow;
}

a {
	color: green;
}

section a {
	/* dziedziczy z .about */
	color: inherit; 
}
.my-article {
	color: hotpink;
}

.my-article p {
	background: blue;
	color: white;
}

.about {
	color: #7c032a;
}